
@import "colors";

$headerHeight: 40px;

body {
    margin: 0;
    background: $darkestGray;
    color: $lightGray;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}

header {
    background: $darkGray;
    color: $lightGray;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0px 2px 2px $shadow;
    box-shadow: 0px 2px 2px $shadow;
    padding: 4px 8px;
    -webkit-app-region: drag;
    div {
        -webkit-app-region: no-drag;
    }
}

.body-wrapper {
    height: calc(100% - #{$headerHeight});
    position: relative;
}

.tabs-container {
    height: 40px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $white;
    padding: 0px 8px;
    .tabs {
        .tab {
            padding: 4px 8px;
            border: 1px solid $lightGray;
            display: inline-block;
            position: relative;
            top: 1px;
            cursor: pointer;
            &.active {
                border-color: $white;
                border-bottom-color: $darkestGray;
                color: $white;
            }
            &.unsaved {
                font-style: italic;
            }
            &:hover:not(.active) {
                color: yellow;
            }
        }
    }
}

.welcome-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 2px 2px $shadow;
    p {
        text-align: center;
    }
    div.buttons {
        display: flex;
        justify-content: center;
        button {
            margin: 8px
        }
    }
}

.btn {
    min-width: 84px;
    border: 1px solid $lightGray;
    color: $lightGray;
    background: transparent;
    padding: 8px 16px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        color: yellow;
        border-color: yellow;
    }
}
