@import "colors";
// @import "menu";

$headerHeight: 40px;

body {
    margin: 0;
    background: $darkestGray;
    color: $lightGray;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}

header {
    background: $darkGray;
    color: $lightGray;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0px 2px 2px $shadow;
    box-shadow: 0px 2px 2px $shadow;
    padding: 4px 8px;
    -webkit-app-region: drag;
    div {
        -webkit-app-region: no-drag;
    }
}

.body-wrapper {
    height: calc(100% - #{$headerHeight});
    position: relative;
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    .panel-content {
        flex-grow: 1;
    }
}


.tabs-container {
    height: 40px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $white;
    padding: 0px 8px 0px 8px;
    .tabs {
        display: flex;
        .tab, .new-tab, .menu-tab {
            margin-right: 4px;
            padding: 4px 8px;
            border: 1px solid $lightGray;
            border-bottom-color: transparent;
            display: inline-block;
            position: relative;
            top: 1px;
            cursor: pointer;
            &.active {
                border-color: $white;
                border-bottom-color: $darkestGray;
                color: $white;
            }
            &.unsaved {
                font-style: italic;
            }
            &:hover:not(.active) {
                color: yellow;
            }
            .tab-close-btn {
                color: $lightGray;
                margin-left: 8px;
                font-style: normal;
                &:hover {
                    color: $red;
                }
            }
        }
        .new-tab {
            order: 1;
        }
        .menu-tab {
            order: -1;
        }
    }
}

.welcome-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 2px 2px $shadow;
    p {
        text-align: center;
    }
    div.buttons {
        display: flex;
        justify-content: center;
        button {
            margin: 8px
        }
    }
}

.btn {
    min-width: 84px;
    border: 1px solid $lightGray;
    color: $lightGray;
    background: transparent;
    padding: 8px 16px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        color: $yellow;
        border-color: $yellow;
    }
}

.icon-btn {
    color: $lightGray;
    cursor: pointer;
    &:hover {
        color: $yellow;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $shadow;
    transition: all 0.2s;
    z-index: 10;
    .menu {
        height: 100%;
        width: 300px;
        background: $darkestGray;
        position: absolute;
        right: calc(100% - 300px);
        transition: right 0.2s;
        .menu-bar {
            padding: 4px;
            display: flex;
            justify-content: space-between;
        }
        .menu-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn {
                margin: 4px 0px;
            }
        }
        /*#menu-close {
            position: absolute;
            padding: 4px;
            top: 0;
            right: 0;
        }*/
    }
    &.hidden {
        display: none;
    }
    &.hiding {
        background: rgba(0,0,0,0);
        .menu {
            right: 100%;
        }
    }
}
